body {
  background-color: rgb(199, 32, 52);
}

.div1 {
  background-color: white;
  text-align: center;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;


}

.div2 {
  background-color: black;
  text-transform: capitalize;
  word-spacing: 6cap;
  position: relative;
  top: 5px;
  color: white;
}

.div4 {
  width: 100;
  display: inline-block;
}

.div5 {
  display: inline-block;
}

.div6 {
  display: inline-block;
}

.div7 {
  display: inline-block;
}

.div8 {
  display: inline-block;
}

.div9 {
  display: inline-block;
}

.div10 {
  display: inline-block;
}

.p1 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: bolder;
  text-decoration: double;
}